<header class="header">
    <div class="wrapper">
        <a href="{{ "/" | relative_url }}">
            <img src="https://github.com/gripcorp/devblog/blob/develop/assets/img/grip_logo.png?raw=true" class="header-logo" />
            <span class="header-title">{{ site.title }}</span>
        </a>

        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
        {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
        {%- if titles_size > 0 -%}
        <nav class="nav">
            {%- for path in page_paths -%}
            {%- assign page = site.pages | where: "path", path | first -%}
            {%- if page.title -%}
            <a class="nav-title" href="{{ page.url | relative_url }}">{{ page.title }}</a>
            {%- endif -%}
            {%- endfor -%}
        </nav>
        {%- endif -%}
    </div>
</header>
