---
layout: default
---
<article class="post">
    {% assign header_image_url = "/assets/img/" | append: page.header_image %}
    <header style="background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url({{ header_image_url | relative_url }}); background-position: center;">
        <div>
            {% for tag in page.tags %}
            <span class="post-tag">#{{ tag }}</span>
            {% endfor %}
        </div>
        <div class="post-title">{{ page.title | escape }}</div>
        <div class="post-excerpt">{{ page.excerpt | escape }}</div>
        <div class="post-author">
            <img src="https://github.com/{{ page.github_nickname }}.png?size=72" class="post-author-img">
            <span class="post-author-name">{{ page.author_name }}</span>
            <span class="post-date">{{ page.date | date: "%F" }}</span>
        </div>
    </header>

    <div class="post-content">
        {{ content }}
    </div>
</article>
